{% extends "safetyIndex.html"%}
{%block title%}<title>SafetyWear Products</title>{%endblock%}
{%block slider%}{%endblock%}
{% block category%}
  {% for category, values in category_name.items %}
    <div class="relative dropdown">
      <a href="/category/{{category}}" class="dropdown-toggle text-blue-500">{{ category }} Safety</a>
      <div class="dropdown-content absolute">
        {% for value in values %}
          <a href="product/{{value}}" class="dropdown-item text-green-400 text-lg font-semibold">{{ value }}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock%}

{% block products%}
<div class="grid grid-cols-4 gap-4 my-5 pt-5 px-2 bg-gray-100" id="parents">
    <script>
    window.addEventListener("DOMContentLoaded", function() {
        var url = "/safety/product/{{product_id}}"
        allProducts(url);
    });
    </script>
</div>

{% endblock %}